<?xml version="1.0"?>
<launch>

	<!--Manual Trajectory Control-->
	<node pkg="nnrosnode" type="nnrosnode_node" name ="nnrosnode" required="true" output="screen"/>

	<node pkg="dronecomms" type="droneComms.py" name ="droneComms" required="false" output="screen"/>

	<node pkg="dronecomms" type="trajectoryManual.py" name="trajectory_Manual" output="screen" launch-prefix="gnome-terminal -e"/>

</launch>
